mixin cardHotel(options)
    .card-wrap.card-wrap__hotel
        if options.arrows
            .single-item
                each item in options.imgSrc
                    .card-wrap__hotel_slide-arrow
                        img(src=item)
        else
            .single-item(data-slick='{"arrows": false}')
                each item in options.imgSrc
                    .card-wrap__hotel_slide-arrow
                        img(src=item)
        .card-wrap__block
            .card-wrap__row.form__row_flex
                .form__header_left
                    span.room-number №
                    =' '
                    h2.room-number #{options.roomNumber}
                    =' '
                    h3.room-class люкс
                .form__header_right
                    span.price #{options.price}
                    =' '
                    span.price-period в сутки
            .card-wrap__row.form__row_flex
                .form__header_left
                    +rateButton( {starNumber: options.starNumber, checkedNumber: options.checkedNumber, ratingNumber: options.ratingNumber} )
                .form__header_right
                    span.quantity #{options.quantity}
                    =' '
                    span.quantity-text #{options.quantityText}
