mixin textField(options)
    .block-elements__row
        label
            .field-label
                h3 #{options.headerTitle}
                h3.field-label_color-weight #{options.headerSetting}
            if options.dateMasked === 'date-masked'
            input(type=options.inputType placeholder=options.inputPlaceholder value=options.inputValue class="text-field-input-enter " + options.subscription + ' ' + options.width + ' ' + options.dateMasked pattern=options.pattern)
            span.material-icon
