mixin checkbox(options)
    div
        label
            if options.inputChecked
                input(type='checkbox' name='checkbox-value' value=options.inputValue checked='')
            else
                input(type='checkbox' name='checkbox-value' value=options.inputValue)
            if options.explanationEmpty
                div #{options.explanation}
            else
                +addition(options.richData)

mixin addition(data)
    .div-checkbox
        h3.title-checkbox #{data.title}
        p.description-checkbox #{data.description}
